<div class="alert alert-danger">
    <h4 class="alert-heading"><i class="bi bi-exclamation-triangle"></i> <%= error.title || 'Error' %></h4>
    <p><%= error.message %></p>
    <hr>
    <a href="/" class="btn btn-outline-danger">
        <i class="bi bi-house"></i> Go Home
    </a>
</div>
